	<div class="backgroundImg icon-container ">
		
		<div class="col-md-6 ">
			<h4>Interesado en motos</h4>
			<a href="#" class="motorcycle-icon img-responsive" ></a>
		</div>
		<div class="col-md-6 ">
			<h4>Interesado en bicicletas</h4>
			<a href="#" class="bicycle-icon img-responsive" ></a>
		</div>
	</div>	

	
