<div class="container">
	<div class="backgroundImg img-responsive">
		<!-- <span class="text-right">
			<h4> 
				<p>Queremos darte un excelente servicio</p>
				<p>aceptamos tus comentarios y sugerencias <strong><a href="{{server_root()}}/contactanos">contáctanos!!</a></strong></p>
			</h4>
		</span> -->
		
	</div>	
	
		
	<!-- 		 <div class="col-md-6 col-md-offset-6"> -->
	<!-- 			<p class="text-white text-right">Todo lo que buscas EN DOS RUEDAS.</p> -->
	<!-- 			<p class="text-white text-right">Bicicletas y motocicletas.</p> -->
	<!-- 		 </div> -->
			
			 
	<!-- 		 <div class="col-md-12"> -->
	<!-- 				<h1>Endosruedas.com</h1> -->
	<!-- 				<p>This page is created using a master template.</p>  -->
	<!-- 		 </div> -->
	
</div>
	
