<div class="col-md-12 visible-desktop">
	<div class="backgroundImg icon-container ">
		
		<div class="col-md-6 ">
			<a href="#" class="motorcycle-icon img-responsive" ></a>
			
		</div>
		<div class="col-md-6 ">
			
			<a href="#" class="bicycle-icon img-responsive" ></a>
			
		</div>
	</div>	
</div>	

	
