<%= form_for @comment, url: comentar_bicicleta_path(@bicycle), :html => {:class => "form-horizontal", :remote => true} do |f| %>

 	<%= render :partial => "/comments/form_bicicleta", :locals => {:form => f}  %>
	<div class="form-group">
		<div class="col-sm-offset-8 col-sm-2">
			<%= f.submit "Pregunta", :class => "btn btn-default" %>
		</div>
	</div>

<% end %>					
